ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: blue;
    color: white;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
}